<div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">RK CLICKS</a>
                <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                        <li class="nav-item">
                        <a class="nav-link" routerLink="/" >Home</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" routerLink="/about" routerLinkActive="active">About Us</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact us</a>
                        </li>
                        </ul>
                </div>
        </nav>
</div>
<div class="about">
        <div class="container">
                <h1 style="text-align: center; padding-top:10px">About Us</h1>
                <p style="justify-content: initial">We specialize in Nature photography , family and senior portraits, often traveling to your destination to capture the perfect moment in the perfect place. 
                    We will be there with you every step of the way to guarantee your special moments are captured for all time.  
                    To us photography is about people being real and then letting us paint a picture of that moment to remember it forever.
                    This is the story that matters most: real people, real stories, real moments.
                    
                    We are incredibly blessed to have a team of photographers who work with us on any given weekend. 
                    Please take a few minutes to get to know us.
                    We would love to visit with you by phone or in person and talk about your event, portrait session or video project. Please reach out to us through the Contact Page.</p>    
        </div>
     
</div>
       