<html>
    <head>
        <!-- <link rel="stylesheet" type="text/css" href="dashboard_styles.css">
        <link rel="stylesheet" type="text/css" href="dashboardprogress.css"> -->
    <title>Dashboard</title>
    </head>
    <body>
        <div id="dashboard">
            <div class="container">
                <div class="first_section">
                    <div class="first">
                        <div class="div_heading"> 
                            Gained
                        </div>
                        <div class="div_number"> 
                            457
                        </div>
                        <div class="div_rate"> 
                            Kcal
                        </div>
                    </div>
                    <div class="second">
                        <div class="div_heading">
                            <div class="progress" data-percentage="30">
                                <span class="progress-left">
                                    <span class="progress-bar"></span>
                                </span>
                                <span class="progress-right">
                                    <span class="progress-bar"></span>
                                </span>
                                <div class="progress-value">
                                    <div>
                                        30%<br>
                                        <span>completed</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="third">
                        <div class="div_heading">
                            Burned
                        </div>
                        <div class="div_number"> 
                            572
                        </div>
                        <div class="div_rate"> 
                            Kcal
                        </div>
                    </div>
                    <div class="first">
                        <div class="div_heading"> 
                            Fat
                        </div>
                        <div class="div_howmuch"> 
                            8.6 <span class="gm_rate">gm</span>
                        </div>
                    </div>
                    <div class="second">
                        <div class="div_heading">
                            Carbohydrates
                        </div>
                        <div class="div_howmuch"> 
                            83.9 <span class="gm_rate">gm</span>
                        </div>
                    </div>
                    <div class="third">
                        <div class="div_heading">
                            Protein
                        </div>
                        <div class="div_howmuch"> 
                            35.5 <span class="gm_rate">gm</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>